[2018-08-06 06:58] Nic2012 opened #1 "Exists any get or set method?"
Hi,
how can i set or get a single config value e.g. shutterspeed, iso...?

Thank you providing us this wrapper.

Best regards,
Nic

[2018-08-07 13:55] Romakita commented on #1
Hi @Nic2012,

I think, the parameters can be changed with CameraWidgets class.
https://github.com/TypedProject/ts-gphoto2-driver/blob/master/src/components/CameraWidgets.ts

Honestly, I don't know how it works. But if I look the java version of gphoto2, the configuration should be changed with this peace of code:

[code]
I thinks a list of actions can be retrieved somewhere :)

Tell if you have an

[2018-08-08 06:06] Nic2012 commented on #1
Thanks Romain for the answer,
because I havent installed typescript on my Raspbian Stretch, I have tried to run one of the examples but I got:
[code]
But there is no problem with other node modules. Do y have any idea?
Best regards,
Nic

[2018-08-08 08:18] Romakita commented on #1
Ok normal, the src directory isn't embed in the module package (only lib). Examples work if you checkout the project from git ;) or if you replace `../src` by `../lib` or`@typedproject/gphoto2-driver`.

See you,
Romain

[2018-08-08 11:58] Nic2012 commented on #1
Still doesnt work, sorry:
[code]

[code]
Is there any action needed before, is it depending on which folder level I run the script?

BTW your package isnt accessible at npm after y last update 3 hours before:
![image](https://user-images.githubusercontent.com/1799767/43835698-25e709b0-9b13-11e8-96d9-b5392c8d7922.png)

[2018-08-08 13:25] Romakita commented on #1
Ok, the build process isn't done. I'll fix that.

[2018-08-08 14:00] Romakita commented on #1
it's fixed :) v1.0.3

[2018-08-08 16:15] Nic2012 commented on #1
Upgraded from npm minutes before.

But cannot really follow y, do I have to run npm build first? If yes where, but I tried:
[code]
[code]
I have no typescript modules installed, is that really necessary too?

[2018-08-09 06:58] Romakita commented on #1
Hi @Nic2012,

Isn't necessary. I haven't checked the package deployed on npm and his dependencies. Now the package works fine.

Just before install the latest module remove your node_modules then run npm install or yarn install.

See you,
Romain

[2018-08-09 09:29] Nic2012 commented on #1
Ok, I can run a script referenced the driver, but the example directory is gone after installing v1.0.6:
[code]

I will check later y suggested setter method on CameraWidgets.

[2018-08-09 09:37] Romakita commented on #1
Yep I removed the examples in node_modules. Examples shouldn't packaged in npm ;).

You can retrieve the same examples here https://github.com/TypedProject/ts-gphoto2-driver/tree/master/examples

[2018-08-10 15:28] Nic2012 commented on #1
Hey Romain,
setValue or getValue methods works fine with a Nikon camera :) Its faster than using original gphoto2 cli. Shortly after setValue its possible to call getValue and returning the new value asap. So I am wondering to call cfg.apply() afterwards. Do y think its really necessary?

What method do  I have to call to get same output like from the gphoto2 cli:
[code]
And finally what would be

[2018-08-13 06:01] Romakita commented on #1
Hi @Nic2012

1) Shortly after setValue its possible to call getValue and returning the new value asap.
I think it's possible yes :). I'll work on ASAP.

2) And finally what would be the equivalent to gphoto2 --list-all-config?
I think Camera.getSummary(), Camera.getManual() or Camera.getAbout() give you some info. Otherwise, I can look in the source code of gphoto2 what is the function called from

[2018-08-13 06:05] Romakita commented on #1
Hum for config list. Maybe => CameraWidgets.getNames() return a list a of widgets name (configuration list).

[2018-08-13 06:48] Nic2012 commented on #1
Hi Romain,
yes, CameraWidgets.getNames() returns all existing keys but without values.

Maybe y could add a "toJson()" method returning a complete cameraWidget by key name formatting like
[code]
or much better ;) the complete treeview over sections > actions > props
[code]
Is there any method in API to get the section and then to iterate through it?

Whenever its possible please returning results

[2018-08-16 07:02] goooseman opened #2 "[Feat] Liveview, captureVideoAsync saves empty file, captureVideo just returns the error"
Dear @Romakita,

Thanks for the great lib. It is a very good replacement of an old node-gphoto2 project. I can help with documentation and maybe some collaboration if I will understand some primary aspects of the library.

Because for now there are some misunderstandings.

What I'm trying to achieve is to view the live preview video file.

What I have:

- Canon 80D
- GPhoto2 2.5.17 installed with

[2018-08-16 08:42] Romakita commented on #2
Hi @goooseman
Your help is welcome :D.

Video and sound aren't supported correctly. I just made a port of the Java version (https://github.com/mvysny/gphoto2-java).

I already tried to implement the LiveView without success.  Example is available here: https://github.com/TypedProject/ts-gphoto2-driver/pull/3

For the movie, here is the code used by gphoto2 cli:

[code]

One interesting thing is th

[2018-08-16 08:50] goooseman commented on #2
Hi @Romakita,

Thanks for the info, did not see this PR. I will clone this repo and continue to work in this branch tomorrow. For now my camera's battery is dead and I left the charger at home.

By the way, I've just wrote a small PoC, that it can work using spawn from NodeJS `child_process` inside electron app.

[code]

[2018-08-16 08:57] Romakita commented on #2
Hoo cool :D
I'd just created the PR this morning to share the code with you ;)

[2018-08-16 14:25] goooseman commented on #2
(Couldn't wait to test your code, so got back to home to take camera charger).

@Romakita You know, but you code is actually working exactly like gphoto2 cli.

Gphoto2 cli outputs a video file in a strange format (not playable by players I know), so there is a project, which was created to view these video files called [gphoto2-liveview-example](https://github.com/aqiank/gphoto2-liveview-example).

[2018-08-16 15:35] goooseman commented on #2
Ok, now I see the problem.
I read about JPG format [here](https://www.media.mit.edu/pia/Research/deepview/exif.html):
Every JPEG file starts from binary value '0xFFD8', ends by binary value '0xFFD9'

When we are doing `node examples/camera-liveview.js | ../gphoto2-liveview-example/gphoto2-liveview-example`, gphoto2-liveview waits for the start of JPG file (`0xffd8`) (main.c:85)
And this happens OK

[2018-08-16 15:41] goooseman commented on #2
I use `| xxd | grep ffd9` to check for the end of image bytes.
From gphoto2 cli we see a lot of them:
`gphoto2 --capture-movie --stdout | xxd | grep ffd9`
<img width="811" alt="screen shot 2018-08-16 at 18 38 20" src="https://user-images.githubusercontent.com/3503252/44219033-ac66b500-a183-11e8-95a2-118b96a84a2f.png">

With our example there are no:
` node examples/camera-liveview.js | xxd | grep

[2018-08-16 16:01] goooseman commented on #2
I was sure that the issue is with this line: `GPhoto2Driver.gp_file_get_mime_type(this.buffer.deref(), mime);`. But when I delete it, rebuild the library, and run the example I still see this image/jpeg as a string in the output.

So somehow libgphoto2 is returning an `image/jpeg` as a string instead of `0xffd9` at the end of each image when we fire `gp_camera_capture_preview` command.

This is re

[2018-08-17 06:40] Romakita commented on #2
@goooseman Awesome :) I'll never find this alone.
Ok I'll try ASAP your code.

Thanks for you help :D

[2018-08-17 07:59] goooseman commented on #2
One more important thing that I found right now is that `GPhoto2Driver.gp_file_new_from_fd(this.buffer, (process.stdout as any).fd), "gp_file_new_from_fd"` already writes output to stdout.
So no need to write to it in `examples/liveview.js`

[2018-08-17 08:17] Romakita commented on #2
You've right. But it's just for test. For the final version, I want use a pipe/buffer/file instead of the process.stdout.fd. I didn't find a way to use anything other than this stdout.

[2018-08-17 18:48] Romakita commented on #2
Ok I removed the console.log with the mime in the onTick method. I think, this is the problem (my bad).
LivePreview output correctly ffd8 and ffd9 :)
The branch is up to date now.

I saw this lib https://www.npmjs.com/package/node-sdl2 to implement sdl2 directly in node.js. It could a good idea to use it. no ?

See you

[2018-08-17 19:18] goooseman commented on #2
Thank for the help.

Strange, but I already tried to remove console.log and even with your update I do not see ffd9, still see 'image/jpg'. Maybe I have an illegal version of libgphoto2.

I have few questions:

1. What version of libgphoto2 do you have and how did you install it?
2. I see that you reference ../src (not ../lib) folder directly in the example now. How do you launch this example? Typ

[2018-08-17 20:17] Romakita commented on #2
1. v2.5.18 - If your gphoto2 works fine, normally, the libphoto2 with node.js should work as expected, no ?
2. My bad, I'ts because I use webstorm and it compile automatically the typescript. If you want run example from src, you can run `tsc -w`;)
3. OK ^^ good idea.
4. Good idea too.

I've updated the branch. Now liveview method accept an options to configuration Liveview class ;)

Have a great

[2018-08-18 06:26] goooseman commented on #2
@Romakita it is super strange, but I still do not have ffd9, but see image/jpg

Do you run example with
`
  liveview.on('data', (chunk) => {
    process.stdout.write(chunk);
  });
`
?

What else can be different from your machine (set up) to mine?

[2018-08-18 06:55] goooseman commented on #2
So what I've tried to do:

1. Uninstall libghoto2 (`brew uninstall gphoto2 libgphoto2`)
2. Download and compile libgphoto2 from [sources](https://github.com/gphoto/libgphoto2)
3. Installed mode 8.9.3 using nvm (as in your .nvmrc)
4. Deleted ts-gphoto2-driver folder
5. git clone ts-gphoto2-driver project one more time and cd to it
6. git checkout feat_live_view
7. npx tsc
8. node examples/camera-li

[2018-08-18 17:36] Romakita commented on #1
Hello @Nic2012

Great news, v2.0.0 add method to generate configuration as JSON ;)
I thinks and I hope you'll be happy :D

See you,
Romain

[2018-08-18 17:47] Romakita commented on #2
Hi @goooseman

When I run node `examples/camera-liveview.js | xxd | grep ffd9` I have the ffd9 ;)

I added a npm command to facilitate your work, now you able to run `npm run develop`. All examples are linked to `./src`. I hope this command will help you ;).

The branch is up to date :D

See you,
Romain

[2018-08-19 08:02] goooseman commented on #2
@Romakita can you send me  a screenshot of your terminal after `examples/camera-liveview.js | xxd | grep ffd9`
Want to check smth.

[2018-08-19 08:07] Romakita commented on #2
Here the screenshot :
<img width="507" alt="image" src="https://user-images.githubusercontent.com/1763311/44306858-929dbb80-a397-11e8-9b79-d09ff468a9b3.png">

[2018-08-19 08:11] goooseman commented on #2
@Romakita do you know, how can we stop gphoto2 driver to write to stdout (`GPhoto2Driver.gp_file_new_from_fd`) automatically?

Anyway in a real example, we should return binary or base64 to a stream (`.on('data', callback)`), we should not write to stdout automatically.

But for now I do not understand what I can pass as a second parameter to `GPhoto2Driver.gp_file_new_from_fd` function to stop it

[2018-08-19 09:12] Romakita commented on #2
We have two choices:
1) Give another fd resource to  gp_file_new_from_fd. A kind of buffer for example.
2) Find a way to use gp_file_new_from_handler. But we have to create the CameraFileHandler struct before.

I think create a tmp file isn't a good way for performance reason. But it's relatively easy to implement that:

[code]

I tried this solution, but not sure if it's work fine.

[2018-08-19 09:57] Nic2012 commented on #1
haha :), I am already happy from the beginning of this new node wrapper ;)

only 2 suggestions:
+ in src/components/Widget.ts add **readonly** to ToJSON(), by this flag we are able to enable or disable a property e.g. on frontend
+ I would not show **range, choices or info** in toJSON() if they are null, undefined or empty; my Nikon shows in every widget an empty info field and has only few ranges

[2018-08-19 10:07] Romakita commented on #1
- I forgot readonly ^^
- Ok, I missed that because JSON.stringify remove automatically range and choices when the fields are undefined.

I'll fix that ASAP ;)

[2018-08-19 10:08] Romakita commented on #1
If you want help on the code PR are welcome. I can give you access to this repo ;). Tell me if you want to become a contributor.

[2018-08-19 10:11] Nic2012 commented on #1
Sorry, and 1 wish :)
I found storage-info only in this big block of the getSummary() method, could y integrate a function in cameraWidget to resolve it like in gphoto-cli:
[code]
It returns an array with an entry for each memory card.

[2018-08-19 10:13] Romakita commented on #1
I

[2018-08-19 10:18] Romakita opened #4 "[Feat] Camera Storage info"
As a developer I want a method to get all storage info available on a Camera.

## Example GPPhoto2

[code]

## StorageInfo interface

[code]

## Acceptance criteria
- Add method Camera.storageInfo(): StorageInfo[]
- Return an array of StorageInfo

[2018-08-19 10:30] Nic2012 commented on #1
I have mentioned y work at https://github.com/gphoto/libgphoto2 that Markus Meissner will maybe update the recommended bindings on his side.

[2018-08-19 10:32] Romakita commented on #1
Thanks @Nic2012 :D

[2018-08-19 11:04] Nic2012 commented on #4
I think so, thats fine.
Well in my earlier apps I streamed the gphoto2-cli, transformed it by jq to get finally
[code]
There is an anoying mixture between type number and description in some fields e.g.
"4 Removable RAM", but we developer can suppress it later when we fetch data.

[2018-08-19 11:14] Nic2012 commented on #1
BTW I would change in readme
`Some example are available in the examples directory.`
into
`Some example are available in the examples directory, when you have cloned or downloaded the full project from github.`
Otherwise people could confused when they cannot find it after npm install.

[2018-08-19 11:17] Romakita commented on #1
I sent you an invitation to this repo ;).

[2018-08-19 11:30] Nic2012 commented on #1
"thank y" ;)

[2018-08-19 11:55] Nic2012 commented on #1
I cannot git clone as mentioned in y guidelines (after replaced username)
[code]

[2018-08-19 11:57] Romakita commented on #1
yes because, it's the wrong repository url XD.

git checkout https://github.com/TypedProject/ts-gphoto2-driver.git

[2018-08-19 13:33] Nic2012 commented on #1
doesnt work on my PiZero:
[code]

[2018-08-19 13:34] Romakita commented on #1
git clone https://github.com/TypedProject/ts-gphoto2-driver.git ?

[2018-08-19 13:37] Nic2012 commented on #1
ok, works. Do I have then git checkout?

[2018-08-19 13:38] Romakita commented on #1
git checkout -b master, maybe ^^

[2018-08-19 13:40] Nic2012 commented on #1
I have warned y, first time doing this ;)
cd into cloned folder? or rightaway "git checkout -b master"

[2018-08-19 13:43] Romakita commented on #1
My bad too. I use Webstorm and his UI to checkout or clone project.

GitKraken is very good to manage your git project with a UI ;)

Normally you have cloned the repo in the current directory. So if you run ls command you'll seen the project (with package.json). By default you are on master branch, but you can run `git checkout -b master` to be sure :)

[2018-08-19 13:52] Nic2012 commented on #1
So far I have git on commandline directly on PIZero (Stretch headless) could be fine for the mom. When I have changed e.g. the readme from project how can I commit it to server? or better first by PR?

[2018-08-19 15:35] Romakita commented on #2
@Nic2012 I've updated the branch. I removed the stdout. Now the output seems to be good :).

[2018-08-19 15:54] Romakita commented on #1
The right process is:
- create a new branch : `fix/update_readme`
- commit your change with the right message: `fix: Update readme information`
- Create PR on github
- Then I valid the PR and I merge it ;)

See you
Romain

[2018-08-19 16:03] Nic2012 commented on #1
Before y comment I (hopefully) managed it, please check.

[2018-08-19 16:36] Nic2012 opened #6 "Change require path in examples"
When users have installed the driver from npm, fetch examples from github and run it immediately afterwards, scripts ends with an exception:
[code]
Change require path e.g. from
`const { CameraList, closeQuietly } = require('../src');`
to
`const { CameraList, closeQuietly } = require('@typedproject/gphoto2-driver');`

@Romakita: When its ok for y, I ll fix it.

[2018-08-19 16:42] Romakita commented on #6
You shouldn't change the path. In the readme, it's explained, you need to run `npm run develop` before run an example :)

[2018-08-20 10:06] Nic2012 commented on #6
When I run it, it failed:
[code]
Because I have NOT installed type script dependencies and I am a consumer who has installed the driver from npm only. Not everybody wants to install the whole develop stack to get familiar with the library.

So I assume when the require path is set to `require('@typedproject/gphoto2-driver')` then example will run by npm package or installation from develop stack.

[2018-08-20 10:26] goooseman commented on #6
@Nic2012 examples are used in development to test some features.
if we make it to require from `'@typedproject/gphoto2-driver'`, it will make it harder to develop and test.

But we can do like this:
[code]
@Nic2012 @Romakita What do you think about this solution?

[2018-08-20 10:26] Romakita commented on #6
@Nic2012
We have two way to run examples.
1)
If a developer want test the examples, it just copy/paste the example in his project and adapt the require('../src') by `require('@typedproject/gphoto2-driver')`.

2)
If the developer checkout the repository and run `npm install`. Typescript will be automatically installed. Finally, developer can run `npm run develop` to build the source correctly (in d

[2018-08-20 10:27] Romakita commented on #6
@goooseman I'm ok for that :)

[2018-08-20 10:45] goooseman commented on #2
@Romakita thanks for the update.

So now the output inside .tmp/preview.jpg is a valid stream with ffd8 and ffd9 bytes inside. But we have the following issues:

1. camera.initialize(); now fails silently. Before the code change, it was showing an error in console, if the camera is not connected. Now it just finishes the process without any errors.
2. `fs.openSync` fails quietly too, if there are

[2018-08-20 10:45] goooseman commented on #6
@Romakita I'll send a PR.

[2018-08-20 11:02] goooseman commented on #6
@Romakita sent a PR
https://github.com/TypedProject/ts-gphoto2-driver/pull/7

[2018-08-20 12:04] goooseman commented on #2
@Romakita we can use smth like `memfs` for this (https://www.npmjs.com/package/memfs)
What do you think?

[2018-08-20 12:27] Romakita commented on #2
1) camera.initialize(); now fails silently. Before the code change, it was showing an error in console, if the camera is not connected. Now it just finishes the process without any errors.

Yes my bad. In Garbage.ts the last line should be removed. It catch all errors...
https://github.com/TypedProject/ts-gphoto2-driver/blob/master/src/components/Garbarge.ts#L37
I'll remove that on another branch

[2018-08-20 12:47] Romakita opened #8 "[Fix] CameraWidgets.toJSON fields"
- [ ] Add readonly flag,
- [ ] clean fields (choices, ranges and info) when the value is empty (empty string, null or undefined)

https://github.com/TypedProject/ts-gphoto2-driver/blob/master/src/components/Widget.ts#L238

[2018-08-20 12:49] #1 closed

[2018-08-20 12:50] Romakita commented on #6
ok it's done :)

[2018-08-20 12:50] #6 closed

[2018-08-20 12:56] goooseman commented on #2
@Romakita ok, I'll work on it

[2018-08-20 14:07] goooseman commented on #2
@Romakita If we are using `CameraFile` object, can we some how get access to the binary data of the file without writing it to the disk?

I've tried to use `gp_file_get_data_and_size` (as I saw you have added this function to CameraFile recently), but I get `gp_file_get_data_and_size on GPhoto2Driver doesn't exists` error from the driver.

[2018-08-20 14:50] goooseman commented on #2
So what I am thinking about.
Anyway (even without live view) it is a good idea to have an easy way to access binary data inside CameraFile object.

For example, if I make a photo inside my electron application, I would like to get binary data of the photo to render it faster without saving it to fs/reading from fs.

I was looking at `python-gphoto2` project. They have some high-level abstraction `

[2018-08-20 15:07] Romakita commented on #2
Hum maybe I missed to add the method in driver module.

You have two major directories in this project:
- `components` is dedicated on the features, and hide the complexity of the driver (wrapper of libphoto2 written in C)
- `driver` is dedicated of the driver implementation with ffi and ref library.

When a method is missing like gp_file_get_data_and_size, that means his description is missing in

[2018-08-20 15:48] goooseman commented on #2
@Romakita thx for the help, will implement this tomorrow and get back to you

[2018-08-21 16:02] goooseman commented on #2
@Romakita today I was working on getting binary from CameraFile and on live view functionality.

For a liveview initialiser I have made an encoding param, which can be "binary" | "base64" | "file".

For "binary" we will get binary data of every frame in `.on('data', (data, size))` event.
For "base64" we will get base64 data of every frame in `.on('data', (data, size))` event.
For "file" option we

[2018-08-22 05:14] Nic2012 opened #9 "getter on single prop"
Hi,
following scenario:
1)
[code]
camera was set on M (manual mode) and shutter is now at 1/1000
2)
`cfg.get('/capturesettings/expprogram').value = 'A';`
switching to mode A (shutter will be autom. set depending on light conditions)
3) cfg.get('/capturesettings/shutterspeed2').value > still on '1/1000', but camera shows diff. value :(
4) To see actual value I have to recall new CameraWidgets(camer

[2018-08-22 07:13] Nic2012 commented on #9
"single getter call on certain prop"=widget

[2018-08-22 07:45] Romakita commented on #2
@goooseman Awesome works ;)

To answer you, the gp_file_get_data_and_size is here to implement drivers for specific model. So We can't use this method because it means we need to reimplement gp_camera_capture_preview for each model... gp_camera_capture_preview for CANON is very different of KONICA.

We haven't choice to use gp_camera_capture_preview, write to a file and read the file.

I updated a

[2018-08-22 07:57] Romakita commented on #9
Ok can you give me an example code of what do you want :) ?

[2018-08-22 09:12] Nic2012 commented on #9
""single getter call on certain prop"=widget" means we are talking about the same :)
Or what do mean? I described a case in my 1st comment...

[2018-08-22 09:27] Nic2012 commented on #9
I thought widget.value = xyz persistents already in camera?
What do I have to call to get actual value from camera not from map?

[2018-08-22 12:17] Romakita commented on #9
So I have to revert my changes. But I don't understand why the value isn't up to date because, the Map isn't a cache, it call directly the Camera to know the new value. So that mean, libphoto2 didn't give correctly the new value when a change is applied via the Camera Configuration (physically). Let find a solution...

[2018-08-22 12:27] Romakita commented on #9
Ok I've create a new released on NPM with some optimization and fix toJSON method also.

Now you can do that:
[code]

Also I've fixed the Widget.toJSON() method (readonly is here, and choices, range and info are cleaned).

Can you test the new release please ?
See you
Romain

[2018-08-22 12:29] Nic2012 commented on #9
Ok, I havent test this usecase with the previous version (before refactor toJSON), but I think the easiet test case would be when y endless loop e.g. on get lightmeter value, and cover partly the lens. Then the lightmeter value should given alsways different values.
In the evening I have access to the camera and can test the other fixes.

[2018-08-22 12:33] Nic2012 commented on #9
Maybe it helps, in earlier apps I used gphoto2 cl.
To verify the set value I called mostly setter and getter one after another
<gphoto2 --set-config shutterspeed2='1/1000' --get-config shutterspeed2>
The CLI isnt that top performer but the response of both cmds was fine, so I think there must be way to solve this.

[2018-08-22 14:54] goooseman commented on #2
1. The changes does not help, I still get � signs instead of binary data for the string after `get_data_and_size` method.

<img width="1025" alt="screen shot 2018-08-22 at 17 48 08" src="https://user-images.githubusercontent.com/3503252/44471051-c4cb4980-a633-11e8-9a74-a05a03c737fc.png">

2. I did not find any information, that gp_file_get_data_and_size and gp_camera_capture_preview methods can be

[2018-08-25 10:31] Nic2012 commented on #9
Update latest version from npm

Run the following code:
[code]
returns exceptions:
[code]

[2018-08-25 10:47] Nic2012 commented on #9
Changed the code a bit:
[code]
returns at refresh() method
[code]

[2018-08-25 11:00] Nic2012 commented on #9
Is there any restrictions using the driver calls inside setTimeout/setInterval?
Because when I have e.g.
[code]
First get returns lightmeter fine, but inside the callback from the interval, it seems camera gets close and returns:
[code]

[2018-08-25 11:05] Nic2012 commented on #9
toJSON() works fine: `console.log('lightmeter', camera.widgets.get('/status/lightmeter').toJSON());`
Returns:
lightmeter { path: '/status/lightmeter',
  label: 'Light Meter',
  type:
   WidgetTypes {
     _cval: 3,
     _hasValue: true,
     _hasChoices: false,
     _acceptNullValue: false,
     _valueType: [Function: Number] },
  value: -20,
  changed: false,
  range: WidgetRange { min: -60, max:

[2018-08-26 06:10] goooseman commented on #2
What I'm more interesting in: why can gp_file_get_data_and_size not be working? It is my first experience with working with C libraries from nodejs, maybe I've implemented something work?

Can you confirm, that you see the same output form this method?

[2018-08-27 09:28] goooseman commented on #2
I've read documentation one more time:
http://www.gphoto.org/doc/api/gphoto2-file_8c.html#afe4a2c1685df174f61f20b2986edd93b

And I see that param is `const char ** data`. So it is not a pointer to string. It is a pointer to pointer to string.

I rewrote the code, so it should work now.
Unfortunately, my camera is at home, so I will test this code only in the evening.

[2018-08-27 11:52] Nic2012 commented on #9
@Romakita: This project is now mentioned and referenced by http://gphoto.org/proj/

Did y recognize my comment there are at least 2 Blocker in current driver version? Maybe y forgot some files to update on npm...

[2018-08-27 17:30] Romakita commented on #9
@Nic2012 Thanks for your effort.

Yes I saw your message. I haven't produce fix. The main problem to dev on this lib is, we need a camera XD.

I'll fix that ASAP ;)

[2018-08-27 17:58] Romakita commented on #9
First get returns lightmeter fine, but inside the callback from the interval, it seems camera gets close and returns:

/home/pi/node_modules/@typedproject/gphoto2-driver/src/components/Camera.ts:93
      throw new Error("Invalid state: closed");
            ^
Error: Invalid state: closed
    at Camera.checkNotClosed (/home/pi/node_modules/@typedproject/gphoto2-driver/src/components/Camera.ts:93:13

[2018-08-27 18:02] Romakita commented on #9
I released a new version. I've tested this example with:

[code]
For me all values are updated correctly. I found a value, I can change on physical device, the flashopen status. Can you confirm, it works for you also. The lightmeter status is always at 0% for me...

I think the support of certain settings depend on the driver from libphoto2.

See you,
Romain

[2018-08-27 18:03] Romakita commented on #9
v2.1.1 released

[2018-08-27 18:03] Romakita commented on #2
Coool :)

[2018-08-27 19:45] Romakita commented on #2
Tell when you ready to review the PR ^^. Great job ;)

[2018-08-27 20:08] goooseman commented on #2
Hooray 🎉

Finally, I make it to work.

1) about `get_data_and_size`
To get the binary data from it, we need to pass a pointer of `char *` to `get_data_and_size`. Then we need to call `const binary = reinterpret(dataPointer.deref(), sizePointer.deref());` to get binary, where `reinterpret` is `import {reinterpret} from "ref";`
So now we can get binary from any `CameraFile` instance, which can be ha

[2018-08-28 06:57] goooseman commented on #2
Oook, what was done in the morning:

1) For `options.output === 'file'` I reverted back the `CameraFileFromFd` way to write to file, so  libgphoto2 should write directly to the file.
The code now throws an error, if the folder does not exists (previously it was falling silently).
2) Changes in examples: put base64 and binary examples in one file (they are nearly the same) + made an example to test

[2018-08-28 08:14] Nic2012 commented on #9
Yeah that could be, didnt recognize that my script runs further on. I will check the code and give feedback.

Another question about calling a sequence of commands one after another: e.g.
[code]
After setting 3) camera sometimes seems to be still busy and doesnt accept the 4) command.
Is there any possibility to find out if previous set of a command isnt fully finished?

[2018-08-28 08:28] Romakita commented on #9
I don't know... the libphoto2 doesn't provide the possibility to know when a command is fully finished.
And the problem persist, It should be better to use asynchronous API, with the possibility to catch this exception and apply the value correctly when it's possible.

[2018-08-28 09:15] Nic2012 commented on #9
Which asynchronous API do y mean? in my code?

[2018-08-28 16:36] goooseman commented on #2
@Romakita

Tested both new cases. Works perfectly 🎉

I'm ready for PR.

[2018-08-29 06:00] Nic2012 commented on #9
Tested latest version 2.1.1:
Jeah, great work: set/apply on single value works fine also inside timer interval.
First fetch on full config tree cost with my Nikon D700 around 2 seconds, every next widgets.refresh() cost another 900 milliseconds.

With the following code
[code]
returns with an exception:
[code]
Can y check if y have the same behaviour with y camera, my Nikon is a bit old stuff :)

[2018-08-30 05:29] #2 closed

[2019-01-22 15:28] peterbaricic opened #11 "delete photo on camera"
Hi,
is there any way how to delete photo on camera or capture photo without saving the photo on camera?

Thanks

[2019-01-22 17:15] goooseman commented on #11
Hi,

`CameraFile` class has a `getDataAndSizeAsync` instance method, which returns the photo object as binary (`Buffer` object) or base64 (string).

You can use it like this:

[code]

[2019-01-22 17:16] goooseman commented on #11
If that is what you were looking for, please close the issue.

[2019-01-23 14:22] peterbaricic commented on #11
Thanks for help,
but the captured photo is still on the camera, which is what I don't want.
So there is no way to delete captured photo on camera after copying to computer? Or just have it captured directly to computer?

[2019-01-24 16:03] goooseman commented on #11
This library is just a wrapper around [gphoto2 C library](http://www.gphoto.org/doc/api/).

As far as I know, it do not support an option to save the file to the camera's SD card or not. For some cameras it is saving, for some - not.

It has a delete command `gp_filesystem_delete_file`, but it is not implemented in this wrapper.

So you can implement a bridge between libgphoto2 and this wrapper to

[2019-01-24 16:19] peterbaricic commented on #11
ok, thanks for the info anyway and thanks again for this library/wrapper

[2019-01-24 16:19] #11 closed

[2019-07-16 13:47] Mike-Dax opened #12 "Triggering bulb mode explicitly, is it possible to then download the file?"
Hi there,

I've got a Canon 5D3 that I'm trying to trigger bulb mode captures with.

I'm successfully able to set
`/actions/eosremoterelease` to `Press Full` then
`/actions/eosremoterelease` to `Release Full`
to trigger a capture, the file is then stored in memory in the camera, but I'm having trouble downloading that file to the computer.

I'm attempting to do this:

[code]

But the `await camera

[2019-07-19 07:04] Mike-Dax opened #13 "Async captures"
Hi there,

I'm calling `camera.captureImageAsync()` and it appears to block?

Is there a trick to getting this to work asyncronously?

I'm using a Canon 6D if that's helpful, on MacOS.

[2019-08-02 09:19] jmcomby opened #14 "Type 'typeof internal' is not a constructor function type"
After importing your project with
`npm install @typedproject/gphoto2-driver`
I got this error when i compiling my project:

5 export declare class Liveview extends EventEmitter implements ICloseable {

My tsconfig.json:
{
  "compilerOptions": {
    "target": "es5",
    "module": "commonjs",
    "sourceMap": true,
    "outDir": "./build",
    "strict": true,
    "noImplicitAny": true,
    "strictNu

[2019-08-04 08:35] goooseman commented on #14
@jmcomby Hi!

And what typescript version are you using? Do `npm list typescript` in the root of your project.

[2019-08-04 12:00] jmcomby commented on #14
Typescript Version 3.5.3
Here my package.json
{
"name": "remotecanon",
"version": "1.0.0",
"description": "",
"main": "build/app.js",
"scripts": {
"tsc": "tsc",
"test": "echo \"Error: no test specified\" && exit 1"
},
"author": "",
"license": "ISC",
"dependencies": {
"@typedproject/gphoto2-driver": "^2.2.2",
"express": "^4.17.1",
"spdy": "^4.0.1",
"typescript": "^3.5.3"
},
"devDependencies": {
"@t

[2019-08-04 13:01] goooseman commented on #14
I've reproduced the issue, it happens only if `"strictNullChecks": true,`

[2019-08-04 13:22] goooseman commented on #14
Ok, `strictNullChecks` was not an issue. The real issue was `esModuleInterop`.

The project was compiled with ts 2.9 without `esModuleInterop`.

So if your project has following values together:

[code]

You will get an error.

So you have three options to fix the issue.

1. Set on of them to `false`
1. Add `"exclude": ["node_modules"]` to the root of your `tsconfig.json`
1. Fork this repo, update

[2019-08-07 03:19] #14 closed

[2019-08-07 03:19] goooseman commented on #14
Issue was resolved in #15

[2019-09-15 22:22] Tronix117 commented on #13
same here on a Nikon D5000

[2019-09-16 06:38] Romakita commented on #12
Hello,
cameraFilePath is just a pointer/buffer to store data.
If I look on the captureAsync source code (https://github.com/TypedProject/ts-gphoto2-driver/blob/master/src/components/Camera.ts#L347), the code should be something like that:
[code]
See you
Romain

[2019-09-16 06:41] Romakita commented on #13
I see in the code the async function aren't wrapped correctly. I hope It'll fix your problem.
If not, I haven't idea, because is totally dependent on libuv module.
install 2.3.0 and tell me.
See you

[2019-09-16 09:09] Mike-Dax commented on #13
Unfortunately that hasn't seemed to help.

For my testing I'm running roughly this setup:

[code]

![image](https://user-images.githubusercontent.com/13504878/64946008-15ea5300-d8b1-11e9-95ed-7c8909b4057a.png)

And while the timer will correctly increment every 100ms during the artificial `setTimeout` section, once the camera capture starts, it stops incrementing until the camera has finished the

[2019-09-16 09:32] Mike-Dax commented on #12
So that works when capturing the image inline there, but I'm trying to separately trigger bulb mode opening and closing, then 'very asynchronously' retrieve the photo.

I guess I'm looking for something along the lines of this:

[code]

However I'm not sure what the path of the photo is when triggering bulb mode like this, or how to actually call that kind of method?

[2019-09-18 23:12] Tronix117 commented on #13
Observing the same issue :/
Actually it seems all calls are blocking the process.

[2019-10-24 11:05] thenameisdavid opened #16 "TypeScript => possibility of integrating this into NativeScript?"
Nice job putting this together in TypeScript! So, I have a question (sorry if I'm not adhering to proper Github etiquette here):

TLDR: how difficult would it be to port this over into an iOS project?

There are several threads in the Gphoto universe which, previously, questioned whether incorporating Gphoto's functionality into XCode/iOS projects would be feasible. The Gphoto devs seemed to think

[2019-10-24 12:25] Romakita commented on #16
Hello @thenameisdavid
I'm not sure if it's possible. The typescript (or javascript) version use C++ node.js extension to bind the native driver. The gphoto driver should be installed with the right linux/mac command line. Also, the driver must support the targeted platform. I'm not sure if Gphoto driver is design for iOS or Android.
The question should be ask to Gphoto driver team :)

See you
Roma

[2020-05-06 03:58] goooseman opened #20 "2.4.0 throws an error"
### Steps to reproduce the issue:
1. Install 2.4.0 version of the library
2. Use it

### Actual
![Screen Shot 2020-05-06 at 6 54 02](https://user-images.githubusercontent.com/3503252/81137255-d5863500-8f66-11ea-80f0-16bd15249084.png)
![Screen Shot 2020-05-06 at 6 57 32](https://user-images.githubusercontent.com/3503252/81137260-dfa83380-8f66-11ea-85d3-39e137f6eb75.png)

TS compiler leaves
[code]

[2020-05-06 13:49] Romakita commented on #20
I have seen that the latest commit hasn't message with fix or feat. So the build haven't produce a new npm package.
I changed the latest commit message. The package will be release in few minutes :)

[2020-05-06 14:00] goooseman commented on #20
I confirm that new version is released and working with NodeJS v12.13.0 in Electron v8.2.5 project.

[2020-05-06 14:00] #20 closed

[2020-05-06 14:38] Romakita commented on #20
Coool :D

[2020-07-23 22:45] JavierTimal opened #21 "Installation"
Please help me and guide me, I can't run the proyect, I clone de repository, then I run "npm install" command, then I run "npm install @typedproject/gphoto2-driver" and then I want to run the "npm run install:examples" to try the app, but I can't because when I run the  "npm run install:examples" command, the terminal show me error that I can't understand, what I do bad?

[2020-07-24 07:04] Romakita commented on #21
What is your error exactly?

[2021-01-26 20:13] gentilmente commented on #21
`me@here ts-gphoto2-driver % npm install
removed 4 packages and audited 1904 packages in 8.39s

43 packages are looking for funding
  run `npm fund` for details

found 6 low severity vulnerabilities
  run `npm audit fix` to fix them, or `npm audit` for details
me@here ts-gphoto2-driver %
`
then
`me@here ts-gphoto2-driverx % npm install @typedproject/gphoto2-driver
npm ERR! code ENOSELF
npm ERR! Re

[2021-01-26 20:21] gentilmente commented on #21
HI I get this..

`> node-gyp rebuild

  CXX(target) Release/obj.target/binding/src/binding.o
In file included from ../src/binding.cc:7:
In file included from ../../nan/nan.h:2884:
../../nan/nan_typedarray_contents.h:34:43: warning: 'GetContents' is deprecated: Use GetBackingStore. See
      http://crbug.com/v8/9908. [-Wdeprecated-declarations]
      data   = static_cast<char*>(buffer->GetContents(

[2021-01-27 06:14] goooseman commented on #21
Check please if you have following libs from the `Prerequisite ` section of the README installed on your machine:
- libgphoto2
- pkg-config | dpkg (used for dependency checking)
- clang compiler

[2021-01-27 21:27] gentilmente commented on #21
yes, I have all installed

[2021-04-20 18:19] esarthou opened #25 "Project build fails on M1 Macs"
Hi there,

I've noticed that running npm install on this repo on an M1 mac results in a failure:

`  CC(target) Release/obj.target/ffi/deps/libffi/src/prep_cif.o
../deps/libffi/src/prep_cif.c:26:10: fatal error: 'ffi.h' file not found
#include <ffi.h>
         ^~~~~~~
⠴ Building module: ffi-napi, Completed: 01 error generated.
make: *** [Release/obj.target/ffi/deps/libffi/src/prep_cif.o] Error 1
✖

[2021-04-20 18:51] Romakita commented on #25
Hello @esarthou
Thanks for your feedback. I’ll merge the PR ;)

[2021-04-21 06:34] Romakita commented on #25
released :)

[2021-04-21 06:34] #25 closed

[2021-04-21 06:34] Romakita commented on #21
Should be fixed with v3

[2021-04-21 06:34] #21 closed

[2021-04-27 23:54] #8 closed

[2021-04-27 23:54] #9 closed

[2021-04-27 23:54] #12 closed

[2021-04-27 23:54] #13 closed

[2021-05-12 08:14] Lorune opened #39 "Illegal instruction error from example code."
I am trying to use this library to operate one of our Sony Alpha-A7R III, i tried to use node-gphoto2 before, but ran into some issues with the capturing of multiple images after each other.

So i was trying out this library, however i am not even getting the simplest of examples running without getting Node.JS to throw me illegal instructions errors. I am running v14.16.1 of Node.JS at the moment

[2021-05-12 09:26] Romakita commented on #39
@Lorune I upgraded recently the entire project to recent dependencies. You can try with the v2: https://github.com/TypedProject/ts-gphoto2-driver/tree/v2.4.3

It's a stable released. I'm sorry about the errors related to the v3. I'll try to fix this version ASAP!

[2021-05-12 11:06] Lorune commented on #39
Version 2.4.3 works fine.

Thanks a lot for the swift reply, onwards to integrate it further :)

[2021-05-12 11:28] Lorune commented on #39
Ok, so capturing a image with the following code works :

[code]

However the example that contains :
[code]

It still produces :

[code]

It is now running the 2.4.3 version.

[2021-05-12 12:20] Romakita commented on #39
Erf… i haven’t idea…

[2021-05-13 16:03] Romakita commented on #39
I'll try to fix the project ASAP.

[2021-05-17 08:57] Lorune commented on #39
Would be much appreciated, otherwise i have to resort to a native c++ implementation. None of the available library wrappers seem to deal very well with 2 camera's.

If you need more info or help with testing just give me a message or ping me here.

[2021-05-17 09:58] Romakita commented on #39
2 camera's connected ? ts-gphotodriver2 is inspired from node-gphoto2 so It's probably the same issue.

[2021-05-17 09:59] Romakita commented on #39
And I haven't two camera XD

[2021-05-17 12:00] Lorune commented on #39
If there is anything i can do to debug this myself i don't mind helping out, but i have never worked on node modules myself that use c++ libraries, only ever interacted with those directly.

And yes it also has issues with it.

[2021-05-17 17:09] Romakita commented on #39
@Lorune Sure.

The library use NAPI to wrap native C++ module with nodejs.
All gphoto function are configured and wrapped here: https://github.com/tsedio/ts-gphoto2-driver/blob/v2.4.3/src/driver/GPhoto2Driver.ts

For the cameraList, you have class that call the native wrapped method:
https://github.com/tsedio/ts-gphoto2-driver/blob/v2.4.3/src/components/CameraList.ts#L18

[code]
This function is w

[2021-05-18 07:21] Lorune commented on #39
I will be busy today with some other stuff but i will see if i can dedicate some time to it in the next few days.

[2021-05-18 07:24] Romakita commented on #39
Sure ;)

[2021-05-22 18:17] Romakita commented on #39
@Lorune I fixed the v3 version. But the napi-ref isn't fully  compatible with Node.js v14

I'll try to understand the reason!

See you
Romain

[2021-05-25 08:22] basand0r commented on #39
Not sure what error you are facing but both v2.4.3 and v3.0.3 are crashing on node v14.x. I found the following item related to my problem:
https://github.com/node-ffi-napi/ref-napi/issues/54

[2021-05-25 08:51] Romakita commented on #39
Yes the code crash with v14, but not with v12 when the scripts try to get camera list. And yes the error is the same.
But I don't know what can I do ^^

[2021-05-25 08:56] basand0r commented on #39
Indeed it works on v12, I can confirm. The linked issue contains a reference for a more robust implementation of ref-napi... currently I have no time for that but later I will try to wire them into the driver and see wheter it will resolve our problem or not.

[2021-06-27 02:02] #16 closed

[2021-07-31 16:32] #39 closed, assigned to nobody

[2021-11-18 00:01] olemartinorg opened #67 "[BUG] Crash on start (with or without camera connected)"
## Information

- **Version:** 3.0.3
- **libgphoto2 version:** 2.5.27-1

When I tried this out today, on my Arch machine, it crashes node instantly when trying to get the first camera - even if there is a camera connected or not.

## Example

[code]

## Output

[code]

[2021-12-11 17:29] Romakita commented on #67
@olemartinorg The plugin is only supported for nodejs v12. There is a know issue with v14 and higher version here: https://github.com/node-ffi-napi/ref-napi/issues/47

If you downgrade your nodejs version to v12, it should works as expected.

I'm not an expert in C++ and nodejs so I'm not able to fix that. I can try to find another way to manipulate array pointer without using `ref-array-napi`, bu

[2021-12-12 13:04] olemartinorg commented on #67
Oh, thanks for the explanation! I'm also not familiar enough with C++ to figure that out. Do what you want with this issue, I found other ways around the problem.

[2021-12-12 15:13] Romakita commented on #67
Oh ok? What is it?

[2021-12-12 15:22] olemartinorg commented on #67
I just call gphoto2 on the command line instead. It works well enough, and I've made workarounds for the things that are less than stellar.

[2022-02-20 15:32] #67 closed, assigned to Romakita

[2022-04-25 14:05] gabrielstuff opened #92 "[BUG] segfault-handler is not intalled by default"
## Information

While testing the example code under `node v12.22.8`, installing gphoto2-driver with `npm install @tsed/gphoto2-driver
` is not sufficient. User need to install segfault-handler separately: `npm i segfault-handler`

## Example

[code]

Thanks for this great library

[2022-07-10 13:47] #92 closed, assigned to Romakita